GEMINI_API_KEY="Chave da LLM"
CORS_ORIGIN="URL da api" 
PORT="port api"

DATABASE_URL="URL do seu banco de dados"
DIRECT_URL="URL de conexão direta com seu banco de dados PostgreSQL (usado pelo Prisma para migrações)"
JWT_SECRET="your_super_secret_jwt_key"

WHATSAPP_VERIFY_TOKEN="your_whatsapp_verify_token"
META_APP_ID="your_meta_app_id"
META_APP_SECRET="your_meta_app_secret"

CONFIG_ID="login config"